@model EntityLayer.Concrete.Contact

@{
    ViewBag.Title = "SendMassage";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/blogweb/images/book1.jpg');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <h1 class="">Bize Ulaşın</h1>
                    <p class="lead mb-4 text-white">Önerileriniz, talepleriniz, yorumlarda yaşadığınız problemler ve diğer bütün durumlar için bir mesaj uzağınızdayız.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mb-5">

                <form method="post" class="p-5 bg-white">

                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Adınız</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Name)
                        </div>
                        <div class="col-md-6">
                            <label class="text-black" for="lname">Soyadınız</label>
                            @Html.TextBoxFor(x => x.SurName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.SurName)
                        </div>
                    </div>
                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black" for="email">Mail</label>
                            @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Mail)
                        </div>
                    </div>
                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black" for="subject">Konu</label>
                            @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Subject)
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="message">Mesajınız</label>
                            @Html.TextAreaFor(x => x.Message, 10, 3, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Message)
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Mesajı Gönder" class="btn btn-primary py-2 px-4 text-white">
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-md-5">

                <div class="p-4 mb-3 bg-white">
                    <p class="mb-0 font-weight-bold">Ofisimiz</p>
                    <p class="mb-4">KARAMAN/Merkez</p>
                    <p class="mb-0 font-weight-bold">Telefon</p>
                    <p class="mb-4"><a href="#">+90 111 22 33</a></p>
                    <p class="mb-0 font-weight-bold">Mail Adresimiz</p>
                    <p class="mb-0"><a href="#">mvcblogweb@mail.com</a></p>
                    <br />
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50862.10166220667!2d33.
            225062000000015!3d37.179290500000086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d98d6780ebefeb%3A0x31bde2e87bae26bc!2sKaraman%2C%20Karaman%20Merkez%2FKaraman
            !5e0!3m2!1str!2str!4v1677604104219!5m2!1str!2str"
                            width="400" height="450" style="border:0; margin-left:0px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    
</div>
 

@Html.Action("Footer", "About")



